

body{
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    font-family:  D-DIN-Bold, Arial, Verdana, sans-serif;

}
html,body{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
}
svg{
    fill: #fff;
}
header{
    display: flex;
    align-items: left;
    text-align: left;
    text-decoration: none;
    padding: 65px 40px;
    max-width: 90%;
    margin: 0 auto;
    height: 40px;
    
}
header svg{
    width: 210px;
    padding: 20px 40px;
    margin-top: -55px;
    margin-left: -35px;

}
header a.logo{
    margin-right: 30px;
}

.center-nav a{
    align-items:center ;
    float: left;
    text-decoration: none;
    font-size: 13px;
    padding: 15px 40px;
    font-weight:bolder;
    font:  D-DIN-Bold, Arial, Verdana, sans-serif;
    max-width: 100%;
    margin-top: -35px;
    margin-left: -60px;
    letter-spacing: 1px;
    
}

.right-nav {
    position: fixed;
    align-items:center;
    font-size: 13px;
    height: 40px;
    display: flex;
    right: 0;
    top: 20px;
    
 

}
.right-nav a{

    align-items: right ;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: bolder;
    font:  D-DIN-Bold, Arial, Verdana, sans-serif;
    max-width: 100%;
    margin-top: 30px;
    margin-right: 65px;
    
}
.hamburger{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: transparent;
    max-width: 100%;
    margin-top: 25px;
    margin-right: 45px;
    size: 30px;
    transform: rotate(90deg);
    border:0 ;
    
}
.section-1{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}
.section-1 h4{
    position: absolute;
    bottom: 40%;
    left: 80px;
    max-width: 200px;
    margin: 0 0 10px;


}
.section-1 h1{
    position: absolute;
    bottom: 25%;
    left: 80px;
    max-width: auto;
    font-size: 46px;
    font-weight: 600;
    margin: 0;

}
.section-1 button{
    position: absolute;
    bottom: 15%;
    left: 80px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    font-size: 13px;
    font-weight: bolder;
}
.section-2{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-2 h4{
    position: relative;
    bottom: 25%;
    left: 80px;
    max-width: 200px;
    margin: 0 0 10px;
    padding-top: 400px;


}
.section-2 h1{
    position: relative;
    bottom: 20%;
    left: 80px;
    max-width: auto;
    font-size: 46px;
    font-weight: 600;
    margin: 0;

}
.section-2 button{
    position: relative;
    bottom: 15%;
    left: 80px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    font-size: 13px;
    font-weight: bolder;
}
.section-3{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-3 h4{
    position: relative;
    bottom: 25%;
    left: 80px;
    max-width: 200px;
    margin: 0 0 10px;
    padding-top: 400px;


}
.section-3 h1{
    position: relative;
    bottom: 20%;
    left: 80px;
    max-width: auto;
    font-size: 46px;
    font-weight: 600;
    margin: 0;

}
.section-3 button{
    position: relative;
    bottom: 15%;
    left: 80px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    font-size: 13px;
    font-weight: bolder;
}

.section-4{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-4 h4{
    position: relative;
    bottom: 25%;
    left: 80px;
    max-width: 200px;
    margin: 0 0 10px;
    padding-top: 400px;


}
.section-4 h1{
    position: relative;
    bottom: 20%;
    left: 80px;
    max-width: auto;
    font-size: 46px;
    font-weight: 600;
    margin: 0;

}
.section-4 button{
    position: relative;
    bottom: 15%;
    left: 80px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    font-size: 13px;
    font-weight: bolder;
}
.section-5{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-5 h4{
    position: relative;
    bottom: 25%;
    left: 80px;
    max-width: 200px;
    margin: 0 0 10px;
    padding-top: 400px;


}
.section-5 h1{
    position: relative;
    bottom: 20%;
    left: 80px;
    max-width: auto;
    font-size: 46px;
    font-weight: 600;
    margin: 0;

}
.section-5 button{
    position: relative;
    bottom: 15%;
    left: 80px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    font-size: 13px;
    font-weight: bolder;
}
.section-6{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-6 h1{
    position: relative;
    bottom: 20%;
    left: 80px;
    max-width: auto;
    font-size: 46px;
    font-weight: 600;
    margin: 0;
    padding-top: 400px;
}
.section-6 button{
    position: relative;
    bottom: 15%;
    left: 80px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    font-size: 13px;
    font-weight: bolder;
}
.section-7{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-7 h1{
    position: relative;
    bottom: 20%;
    left: 80px;
    max-width: auto;
    font-size: 46px;
    font-weight: 600;
    margin: 0;
    padding-top: 400px;

}
.section-7 button{
    position: relative;
    bottom: 15%;
    left: 80px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    font-size: 13px;
    font-weight: bolder;
}
footer{
    padding: 30px;
    text-align: center;

}
footer nav a{
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    
}
footer nav span{
    font-size: 12px;
}